body{
    margin: 0;
    font-family: space moon,sans-serif;
    font-weight: 100;
    letter-spacing: .15rem;
    background-color: #FFF8EA;
}

/* Higher specificity */
.main-section p,
.section p {
    word-break: break-word;
    overflow-wrap: break-word;
}



/* ======================================
    typography
    ===================================== */

.title{
    font-size: 1.25rem;
    font-weight: 700;
}
.sub-title{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 2rem;
}
.category{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
}
i{
    font-size: 1.3rem;
}
.socials i{
    font-size: 2rem;
    padding: .6rem;
}





/* Profile-image */
.mila-image{
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}




/* ===================================
    layouts
    ================================== */

.container{
    margin:0 auto;
    max-width: 657px;
    width: 90%;
    margin-bottom: 8rem;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.socials a{
    text-decoration: none;
    color: #000;
    margin: 0 .4rem;
    box-sizing: border-box;
    width: 53.59px;       /* fixing the size of the container to not */
    height: 51.19px;
}
.main{
    margin-top: 1.6rem;
}



/* section */
.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    border: 2px solid #C96300;
    text-align: center;
    margin-bottom: 1.4rem;
}
.section img{
    width: 46px;
    object-fit:cover;
}


.section .large{
    font-size: 2.4rem;
}





/* main-section */
.main-section{
    border: 2px solid #C96300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section div{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.main-section p{
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.main-section img{
    width: 160px;
    height: 160px;
    object-fit: cover;
}

/* Animation */
.socials i:hover{
    font-size: 2.5rem;
    padding: auto;
}
.section:hover{
    color: #fff;
    background-color: #C96300;
}
.section i:hover{
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, .1);
    color: rgb(219, 219, 219);
}

.main-section img:hover{
    width: 190px;
    object-fit: cover;
}


/* transition */
*{
    transition: all 100ms ease-in-out 10ms;
}







/* =========================================
    media
    ======================================== */

@media(max-width:270px){
    html{
        font-size: 10px;
    }
    .main-section img {
        height: 50px;
        width: 50px;
    }
    .socials{
        flex-wrap: wrap;
    }
}
